project:
  type: website
  output-dir: docs
  
website:
  title: "temp_website"
  
navbar:
  left:
    - href: index.qmd
      text: Home
    - href: fyp.qmd
      text: Project
    - href: data-visualization.qmd
      text: Data Visualization

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

